<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Book</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <!-- Home Page -->
    <main>
        <div class="nav-wrapper">
            <div class="grad-bar"></div>

            <!-- Navigation bar -->
            <nav class="navbar">

                <!-- Logo -->
                <img src="/img-main/logo.png" alt="">

                <!-- Toggle Burger Button -->
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <!-- Buttons: Signup and Login -->
                <ul class="nav no-search">
                    <li class="nav-item"><a href="/register">SignUp</a></li>
                    <li class="nav-item"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>

        <!-- Hero Section -->
        <section class="headline">
            <img src="/img-main/logo.png" alt="" class="hero-logo">
            <h1 class="hero-content" >Track Your Income and Expense All from one Place...</h1>
            <a class="try-now-btn" href = '/register'>Try Now...</a>
        </section>
    </main>
    <!-- JQuery CDN` -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        
    <script src="/js/index.js"></script>
</body>

</html>